.modal {
  position: fixed;
  width: 40%;
  left: 0;
  bottom: 0;
  background-color: #666565;
  z-index: 2;

  div {
    color: #ffffff;
    display: flex;
    margin: 5px;

    span {
      margin-right: 2px;
      color: #2cf504;
    }
  }
}