.building {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 20px;
  width: fit-content;
  height: fit-content;
  align-self: flex-end;

  .roof {
    $triangle-side-size: 90px;
    position: relative;
    border-left: $triangle-side-size solid transparent;
    border-right: $triangle-side-size solid transparent;
    border-bottom: $triangle-side-size solid #000000;

    &:before {
      $offset: 5px;
      left: calc(#{-$triangle-side-size} + #{$offset});
      top: $offset;
      $inner-triangle-side: calc(#{$triangle-side-size } - #{$offset});
      position: absolute;
      border-left: $inner-triangle-side solid transparent;
      border-right: $inner-triangle-side solid transparent;
      border-bottom: $inner-triangle-side solid #ffffff;
      content: "";
    }
  }

  .body {
    display: flex;
    height: auto;
    border: 4px solid #000000;
    flex-direction: column;

    .floor {
      $floor-height: 140px;
      display: flex;
      flex: 1;
      height: $floor-height;
      max-height: $floor-height;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3px;

      .door,
      .window {
        display: inline-flex;
        background-color: #ffffff;
        border: 2px solid #000000;
      }

      .window {
        width: 35%;
        height: 70%;
        margin: 15px;
      }

      .door {
        width: 25%;
        height: 70%;
        border-width: 4px;
        margin: 30px 5px 0px 0px;
      }
    }
  }
}