@import 'constants.scss';

.building-menu-wrapper {
  display: inline-block;
}

.buildings-menu {
  display: flex;
  flex: 1;
  height: auto;
  flex-direction: column;
  border: 3px solid $frame-color;

  .building-option {
    display: grid;
    padding: 5px;
    row-gap: 10px;
    column-gap: 5px;

    .building-name {
      grid-column: 1/ 3;
      grid-row: 1/ 1
    }

    .floors {
      grid-column: 1/ 3;
      grid-row: 2/ 2;
      display: flex;
      flex: 1;

      .count {
        flex: 1;
      }
    }

    .opt-button,
    .dublicate-building-button {
      grid-column: 5/5;
    }

    .opt-button {
      max-width: 30px;
    }

    .delete-building-button {
      grid-row: 0/ 1;
    }

    .dublicate-building-button {
      grid-row: 3/ 3;
    }

    .color {
      grid-column: 4/4;
      grid-row: 2/ 3;
      display: flex;
    }

    .range {
      grid-column: 1/ 3;
      grid-row: 3/ 3;
      height: 6px;
      width: 100%;
      background-color: #ccc;
      border-radius: 5px;

      .thumb {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: #999;
      }
    }
  }

  .header,
  .footer {
    display: flex;
    background-color: $frame-color;
    height: 40px;
    align-items: center;
    font-weight: 600;
    color: #515151;
  }

  $border-radius:3px;

  .header {
    padding-left: 5px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .building-option {
    background-color: #FEFEFE;
  }

  .footer {
    justify-content: center;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;

    .create-building-button {
      background-color: #FEFEFE;
      border-radius: 4px;
      font-weight: 600;

      span {
        color: #5a5959;
        margin-left: 3px;
      }
    }
  }
}