@import '../../../components/Header/stylesheets/constants.scss';

.sections-container {
  display: flex;
  $margin-top: 10px;
  margin: $margin-top 5px;

  .section {
    display: inline-flex;
    position: relative;

    &.section-2 {
      margin-left: 40px;
      overflow: auto;
    }
  }
}