@import 'constants.scss';

header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  background-color: #F5F5F5;
  padding-left: 5px;
  height: $header-height;

  .title{
    color: #B02427;
    font-weight: 600;
    font-size: 24px;
  }
}